.error-message {
    position: fixed;
    display: block;
    width: 100%;
    height: 32px;
    left: 0px;
    bottom: 0px;
    background-color: red;
}

.error-message__text {
    color: whitesmoke;
}