.error-message {
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: red;
}

.error-message__text {
    color: whitesmoke;
}

@media(min-width: 800px) {
    .error-message {
        width: 320px;
    }
}